.board {
    background-color: transparent;
    width: 33.2em;
    height: 30em;
    perspective: 1000px; /* change to none */
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 0.95;
    background: white;
    border-radius: 4px;
    padding: 3em 3em 0em;
}

.front {
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}
    .front .avatar {
        position: relative;
        display: block;
        margin-bottom: 1.5em;
    }
        .front .avatar img {
            display: block;
            margin: 0 auto;
            border-radius: 100%;
            box-shadow: 0 0 0 1.5em white;
        }
        .front .avatar:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -3em;
            width: calc(100% + 6em);
            height: 1px;
            z-index: -1;
            background: #c8cccf;
        }
        @media screen and (max-width: 480px) {
            .front {
                padding: 4em 2em 2.5em 0em ;
                width: 100%;
            }
                .front .avatar:before {
                    left: -2em;
                    width: calc(100% + 4em);
                }
        }
        body.is-preload .front {
            -moz-transform: rotateX(300deg);
            -webkit-transform: rotateX(300deg);
            -ms-transform: rotateX(300deg);
            transform: rotateX(300deg);
            opacity: 0;
        }

.back {
    transform: rotateY(-180deg);
    z-index: 1;
}

.card.flipped {
    transform: rotateY(-180deg);
}
